$primary:#1976d2;
$primary-hover:#42a5f5;
$primary-focus:#1565c0;
$secondary:#ba68c8;
$secondary-hover:#9c27b0;
$secondary-focus:#7b1fa2;
$danger:#ef5350;
$danger-hover:#d32f2f;
$danger-focus:#c62828;
$warn: #ff9800;
$warn-hover: #ed6c02;
$warn-focus: #e65100;
$success: #4caf50;
$success-focus: #2e7d32;
$success-hover: #1b5e20;
$info: #03a9f4;
$info-hover: #0288d1;
$info-focus: #01579b;
$white: #ffffff;
$black: #000000;